VITE_BASE_URL=YOUR_BASE_URL_HERE
# Replace YOUR_API_BASE_URL_HERE with the actual base URL of your API.
# For example, if your API is hosted at https://api.example.com, you would set
# VITE_API_BASE_URL=https://api.example.com

VITE_API_VERSION=YOUR_API_VERSION_HERE
# The version of the API you are using. This is often used to manage changes in the API.
# For example, if your API has a version 1, you would set VITE_API_VERSION=v1